.DS_Store
.build
.edge-build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode
coverage_report/
Examples/HelloHTTP/HelloHTTP-container.tar

# Generated app bundle
EdgeCLI.app/
