<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>edge</string>
	<key>CFBundleIdentifier</key>
	<string>com.edgeos.edge-cli</string>
	<key>CFBundleName</key>
	<string>EdgeOS CLI</string>
	<key>CFBundleDisplayName</key>
	<string>EdgeOS CLI</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.edgeos.edge-network-daemon</key>
		<string>identifier "com.edgeos.edge-network-daemon"</string>
	</dict>
</dict>
</plist> 