### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon
Icon?

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Fumadocs / Next.js
.next/
.source/
content/
export/
next-env.d.ts
node_modules/
out/
public/
tsconfig.tsbuildinfo
