[defaults]
inventory = inventories/wendy.yml, inventories/kb.yml
roles_path = roles
stdout_callback = default
bin_ansible_callbacks = True
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
deprecation_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=no -o ControlPath=none -o StrictHostKeyChecking=accept-new -o ConnectTimeout=10
