### macOS
.DS_Store
._*
Icon
Icon?
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Fumadocs / Next.js
.next/
.source/
content/
export/
node_modules/
out/
public/
next-env.d.ts
tsconfig.tsbuildinfo
